#kep{
    width: 100%;
    height: 50%;
}
#ter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#szallas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
    
